<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KDSU Student Radio</title>
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico"/>
    <!--meta-->
    <meta name="description" content="">
    <meta name="author" content="RJ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--styling-->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/material-icons.css" rel="stylesheet">
    <link href="./static/css/vuetify.min.css" rel="stylesheet">
    <link href="static/custom/kdsu.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <v-app>
            <nav class="navbar fixed-top" id="kdsu-nav">
                <button class="navbar-toggler navbar-toggler-right elevation-2 mt-2" id="navbar-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" @click="navToTop">
                    <img class="d-inline-block align-top" src="/static/img/Color Logo No Text.png" width="34" height="42" alt="">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item" v-for="h in headers">
                            <a v-if="h.no" class="nav-link pl-1 my-1" @click="navTo(h.id)">{{h.text}}</a>
                            <a v-else class="nav-link pl-1 my-1" @click="navToTop">{{h.text}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="MAIN" class="container-fluid">
                <div class="row no-gutters">
                    <div class="col">
                        <v-container class="py-4" fluid>
                            <v-layout row>
                                <v-flex xs12 id="CONTENT" class="elevation-12 pa-4 white--text">
                                    <!-- <h1 class="elevation-24 main-header text-xs-center py-2">
                                        KDSU's Site
                                    </h1> -->
                                    <v-card class="elevation-24 content-tile" id="HOME">
                                        <v-card-media src="https://fortunedotcom.files.wordpress.com/2016/03/485957651.jpg" height="300px">
                                        </v-card-media>
                                        <v-card-title primary-title>
                                            <div>
                                                <h2 class="main-header">Welcome to KDSU's Site</h2>
                                                <div class="main-header-subtext">Dakota State University's Official Student Lead Radio</div>
                                            </div>
                                        </v-card-title>
                                    </v-card>
                                    <v-card class="elevation-24 content-tile" id="ABOUT">
                                        <v-card-title primary-title>
                                            <div>
                                                <h4 class="main-header">About KDSU</h4>
                                                <div class="main-header-subtext">INSERT GOOD DESCRIPTION HERE</div>
                                            </div>
                                        </v-card-title>
                                    </v-card>
                                    <v-card class="elevation-24 content-tile pb-1 px-1" id="PODCASTS">
                                        <v-card-title primary class="main-header">
                                            The KDSU Podcast
                                        </v-card-title>
                                        <v-container fluid>
                                            <v-layout row column align-center justify-center>
                                                <v-flex xs6 class="contrast-title-white mt-3">
                                                    <iframe id="ytplayer" type="text/html" style="width: 100%" :src="'https://www.youtube.com/embed/' + videos[currentVideo] + '?autoplay=0'" frameborder="0"></iframe>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                        <v-select color="indigo darken-4" class="mt-2" style="width: 100%" :items="videoNames" id="videoSelect" v-model="currentVideo" label="Select Video" autocomplete></v-select>
                                        Want to see more from KDSU? Subscribe to our
                                        <a href="https://www.youtube.com/channel/UCPkWt8nvDFvjdbctHt8FHJw" class="link" target="_blank">youtube channel</a>.
                                    </v-card>
                                    <v-card class="elevation-24 content-tile" id="RADIO">
                                        <v-card-title primary-title>
                                            <div>
                                                <h4 class="main-header">KDSU Radio</h4>
                                                <div class="main-header-subtext">INSERT Radio HERE</div>
                                            </div>
                                        </v-card-title>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </div>
                </div>
            </div>
        </v-app>
    </div>
    <!--scripts-->
    <script src="./static/js/jquery-3.1.1.slim.min.js" type="text/javascript"></script>
    <script src="./static/js/tether.min.js" type="text/javascript"></script>
    <script src="./static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="./static/js/vue.js" type="text/javascript"></script>
    <script src="./static/js/vuetify.js" type="text/javascript"></script>
    <script src="static/custom/kdsu.js" type="text/javascript"></script>  
</body>
</html>